{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Tiny Junkyard Challenges you to collaborate about build your dreams together" "subtitle" "Support sustainable farming while enjoying a cup") }}

{{ partial "short-text" (dict "heading" "Tiny food is local food." "text" "We want service is centered around constant planning.  less.. if it ceases to serve society, it must rust down to its molecules. ( in order .")}}

{{ partial "2-up" (dict "heading" "How to share or find materials" "description" "A food connector that helps us to work at feeding one another by sharing and trading items so that more projects get built ." "buttonText" "See all listings" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Less waste, good planning, the benefits of more food production literacy ad metoring are common goals that motivate the work on this website.  More trading securely within local communites." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}iny

{{ partial "footer" . }}
